
.meI {
  font-family: "Playfair Display", serif;
}

section.main article:nth-child(1){
  width: 100%;
  height: 100vh;
}

article.message-wrap {
  font-size: 90px;
  line-height: 1.2;
  span.empty{
    z-index: 10;
    height: 100vh;
    width: 100%;
    display: block;
    position: relative;
    a{
      span {
        position: absolute;
        bottom: 20%;
        left: 50%;
        width: 24px;
        height: 24px;
        margin-left: -12px;
        border-left: 1px solid rgb(56, 56, 56);
        border-bottom: 1px solid rgb(69, 69, 69);
        transform: rotate(-45deg);
        animation: sdb04 1.5s infinite;
        box-sizing: border-box;
      }
    }
  }
  @keyframes sdb04 {
    0% {
      transform: rotate(-45deg) translate(0, 0);
    }
    20% {
      transform: rotate(-45deg) translate(-10px, 10px);
    }
    40% {
      transform: rotate(-45deg) translate(0, 0);
    }
  }

  .main-info{
    align-items: center;
    font-size: 1em;
    padding: 150px 0;
    min-height: 100vh;
  }

}

.name {
  text-decoration:underline dotted rgb(31, 155, 62) auto;
}

.page-hover { 
  color: #000;
  display:inline-block; 
  margin:0;
  a{
    text-decoration: none;
    color: #000;
  }
  
  .meI{
    text-transform: capitalize ;

  }
}
.page-hover:after {
  text-decoration-style: wavy;
  display:block;
  content: '';
  width: 100%;
  border-bottom: solid 0.8rem rgba($color: #562d2d, $alpha: 0.2);  
  transform: scaleX(0);  
  transition: transform 500ms ease-in-out;
}
.page-hover:hover:after { transform: scaleX(1); }

.page-hover:after{  transform-origin:  0% 50%; }




@media (max-width: 1650px) {
  article.message-wrap {
    .main-info{
      font-size: 0.8em;
    }
  }
}
@media (max-width: 1340px) {
  article.message-wrap {
    .main-info{
      font-size: 0.6em;
    }
  }
}
@media (max-width: 1020px) {
  article.message-wrap {
    .main-info{
      font-size: 0.5em;
    }
  }
}

@media (max-width: 860px) {
  article.message-wrap {
    .main-info{
      font-size: 0.4em;
    }
  }
}

@media (max-width: 700px) {
  article.message-wrap {
    .main-info{
      font-size: 0.3em;
    }
  }
}
@media (max-width: 540px) {
  article.message-wrap {
    .main-info{
      font-size: 0.25em;
    }
  }
}

// @media (max-width: 455px) {
//   article.message-wrap {
//     .main-info{
//       font-size: 0.35em;
//     }
//   }
// }



